<div class="h2 font-weight-bold m-30 mb-5 px-4 py-3 bg-lightest text-primary">Voting</div>

<h2 class="h3 font-weight-bold">View all nominated gurus and vote for your preferred one</h2>
<p class="mb-4"></p>


<div class="table table-responsive form-group">
  <p-table #table 
    class="table tbl-filter consents" rowHover="true" sortMode="none" dataKey="index" [loading]="loading"
    [columns]="cols" [responsive]="true" [value]="this.electionService.electionModel.gurus" paginator="true" rows="50"
    [sortField]="cols[0].field" [(selection)]="selectedPermissions" (onRowSelect)="handleRowSelection($event)"
    (onRowUnselect)="handleRowDeselection($event)">

    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{col.header}}
        </th>
        <th>
          Vote
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-i="rowIndex" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData"
        *ngIf="rowData">
        <td *ngFor="let col of columns">
          <span class="white-space-pre-line">{{rowData[col.field]}}</span>
        </td>
        <td>
          <button *ngIf="!rowData['isElectedByCurrentUser']" (click)="vote(rowData)" style="font-size: x-large; border:none; margin-bottom: 6px;"
            pButton icon="fas fa-thumbs-up" iconPos="left" class="btn-outline-darkRed"></button>
          <button *ngIf="rowData['isElectedByCurrentUser']" disabled="disabled" style="font-size: x-large; border:none; margin-bottom: 6px;" pButton
            icon="fas fa-thumbs-up" iconPos="left" class="btn-outline-gray6"></button>

        </td>
      </tr>
    </ng-template>


    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="columns.length + 1" class="emptyTable">No data to display</td>
      </tr>
    </ng-template>
  </p-table>