<div class="h2 font-weight-bold m-30 mb-5 px-4 py-3 bg-lightest text-primary">Election Managment</div>

<div class="ui-messages ui-messages-info d-block" role="alert">
    This page is only shown to the Chairperson of the ElectionFactory smart contract.
</div>
<br />
<p>
    I added this page just to give imagination of how menu and pages can be made according to the wallet authorization. Implementing this page is unnecessary for the POC purpose.
</p>
<p>
    However, to check how the same page can be changed according to the wallet authorization, check
    <a routerLink="/nomination">Nomination</a> page. And try to switch accounts using MetaMask from any account to the user that deploy the smart contract (the owner is the chairperson initially).
</p>