/* You can add global styles to this file, and also import other style files */



.seed-words {color: green; }

.white-space-pre-line {
  white-space: pre-line;
}

/* Hide pager if there is no rows or 1 row.
  Note: at some case there is only one row per page! like: Consents Give to me */
/* p-paginator[ng-reflect-total-records="0"] {
    display:none;
} */


/** Remove the header from the dataTable**/
.hide-datascroller-header .ui-widget-header {
    display: none;
}

/** Remove the border from the dataTable **/
.ui-datascroller-contents-borderless .ui-datascroller-content {
    border-style: none !important;
    border: none !important;
    }
    