<footer id="footer" class="footer h3 pt-4 pb-5">
  <div class="container">
    <!-- <div class="row">
      <div class="col-12 col-md-12">
        <div class="text-primary font-weight-bold h2 mb-2">Fast links</div>
        <div class="row">
          <div class="col-12 col-md-6">
            <a class="text-info" routerLink="/">Vote</a>
          </div>
          <div class="col-12 col-md-6">
            <a class="text-info" routerLink="/">Gurus Scores</a>
          </div>
          <div class="col-12 col-md-6">
            <a class="text-info" routerLink="/">Previous Elections</a>
          </div>
          <div class="col-12 col-md-6">
            <a class="text-info" routerLink="/">My Gurus Progress</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-1 text-right">
        <a routerLink="/person">
          <img src="../../assets/images/logo.png" style="width: 8rem">
        </a>
      </div>
    </div> -->
  </div>

</footer>