

<div class="ie-stickyFooter mainBg" [ngClass]="{'noFrame' : wrapClass}">
  <div id="page">



    <jhi-app-header></jhi-app-header>

    <div id="layout" class="mt-4 mb-5 d-flex container layout-wrapper">

      <section class="layout-main">

        <!--Main Content-->
        <div class="padd30 bg-white box-shadow flex-auto position-relative pageContent">
          <router-outlet (activate)="onActive($event)"></router-outlet>
        </div>
      </section>
    </div>

    <jhi-footer></jhi-footer>

  </div>
</div>
