<div class="h2 font-weight-bold m-30 mb-5 px-4 py-3 bg-lightest text-primary">Nomination</div>
<div *ngIf="isAlreadNominated">
  <div class="ui-messages ui-messages-info d-block" role="alert">
    You are nominated
  </div>
  <p></p>
</div>

<div class="form-group-m">
  <div class="form-group row">
    <label class="col-md-2 col-form-label">Name
      <span class="require">*</span>
    </label>
    <div class="col-md-4">
      <input pInputText type="text" class="form-control" 
        [(ngModel)]="name" 
        [disabled]="isAlreadNominated" 
        pTooltip='{{this.electionService.isCurrentUserTheElectionChairperson ? "Enter the guru name" : "Choose your name"}}'
        tooltipPosition="top" 
        placeholder='{{this.electionService.isCurrentUserTheElectionChairperson ? "Guru name" : "Your nickname"}}'>
        <p *ngIf="name === ''" class="h6 py-1 text-danger">Please enter the name</p>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-2 col-form-label">Wallet
      <span class="require">*</span>
    </label>
    <div class="col-md-10">
      <div class="input-group" style="width: 430px; font-family: courier new;">
        <p-inputMask class="form-control ltr" 
          [(ngModel)]="wallet"
          [disabled]="!this.electionService.isCurrentUserTheElectionChairperson" 
          pTooltip='{{this.electionService.isCurrentUserTheElectionChairperson ? "Enter the Guru Wallet" : "This is your wallet"}}'
          tooltipPosition="top"            
          placeholder="guru wallet address"
          ariaLabel="guru wallet address" 
          mask="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa" characterPattern="[x0-9A-Fa-f]"></p-inputMask>
          <p *ngIf="wallet === ''" class="h6 py-1 text-danger">Please enter the wallet address</p>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!isAlreadNominated" class="mx-30 p-4 text-right w-100 actionFtr">
  <button pButton (click)="nominateGuru()" class="btn btn-outline-darkRed" label='{{this.electionService.isCurrentUserTheElectionChairperson ? "Nominate a Guru" : "Nominate"}}'></button>
</div>